.addNewBtnContainer {
  margin-top: 12px;
}

.statisticsSection {
  color: white;
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

mat-nav-list {
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  margin: 10px;
  padding: 2px;
  border: 1px solid black;
  min-height: 40%;
}

.todoList--buttonRow {
  display: flex;
  justify-content: center;
}

.todolist--todoitem--done {
  text-decoration: line-through;
}

.active-link {
  background-color:bisque !important; /* Note: You could also use a custom theme */
}